.python-version
.venv
.env
.newenv
newenv/*
llm/proxy/myenv/*
llm_uuid.txt
__pycache__/
*.pyc
bun.lockb
**/.DS_Store
.aider*
llm_results.jsonl
secrets.toml
.gitignore
llm/proxy/llm_secrets.toml
llm/proxy/api_log.json
.idea/
router_config.yaml
llm_server/config.yaml
llm/proxy/_secret_config.yaml
.aws-sam/
llm/tests/aiologs.log
llm/tests/exception_data.txt
llm/tests/config_*.yaml
llm/tests/langfuse.log
langfuse.log
.langfuse.log
llm/tests/test_custom_logger.py
llm/tests/langfuse.log
llm/tests/dynamo*.log
.vscode/settings.json
llm/proxy/log.txt
proxy_server_config_@.yaml
.gitignore
proxy_server_config_2.yaml
llm/proxy/secret_managers/credentials.json
hosted_config.yaml
llm/proxy/tests/node_modules
llm/proxy/tests/package.json
llm/proxy/tests/package-lock.json
ui/llm-dashboard/.next
ui/llm-dashboard/node_modules
ui/llm-dashboard/next-env.d.ts
ui/llm-dashboard/package.json
ui/llm-dashboard/package-lock.json
deploy/charts/llm/*.tgz
deploy/charts/llm/charts/*
deploy/charts/*.tgz
llm/proxy/vertex_key.json
**/.vim/
**/node_modules
kub.yaml
loadtest_kub.yaml
llm/proxy/_new_secret_config.yaml
llm/proxy/_new_secret_config.yaml
llm/proxy/_super_secret_config.yaml
llm/proxy/_super_secret_config.yaml
llm/proxy/myenv/bin/activate
llm/proxy/myenv/bin/Activate.ps1
myenv/*
llm/proxy/_experimental/out/404/index.html
llm/proxy/_experimental/out/model_hub/index.html
llm/proxy/_experimental/out/onboarding/index.html
llm/tests/log.txt
llm/tests/langfuse.log
llm/tests/langfuse.log
llm/proxy/google-cloud-sdk/*
tests/llm_translation/log.txt
venv/
tests/local_testing/log.txt

.codegpt
llm/proxy/_new_new_secret_config.yaml
llm/proxy/custom_guardrail.py
llm/proxy/_experimental/out/404.html
llm/proxy/_experimental/out/404.html
llm/proxy/_experimental/out/model_hub.html
.mypy_cache/*
llm/proxy/application.log
tests/llm_translation/vertex_test_account.json
tests/llm_translation/test_vertex_key.json
llm/proxy/migrations/0_init/migration.sql
llm/proxy/db/migrations/0_init/migration.sql
llm/proxy/db/migrations/*
llm/proxy/migrations/*
.venv*
test_imports.py
*.sedbak
